@import url("header.css");

/* 基本的なアニメーションの継続時間 */
* {
	transition: 0.1s;
}


/* - - - - - - レイアウト - - - - - - */

/* 余白を入れない */
.no-gap {
	margin: 0;
	padding: 0;
}

/* ページタイトル（カバー） */
#page-title {
	height: 100vh;
	width: 100vw;
}


/* - - - - - - テキスト - - - - - */

/* 装飾フォント（英字） */
.decorative {
	/* font-family: 'Bungee Shade', sans-serif; */
}